.container{
    height: fit-content;
    display: grid; grid-template-columns: 150px 150px 150px 150px;
    justify-content: space-evenly;
    gap: 10px;
    align-content: space-between;
    background-color: blue;
}
div{
    background-color: gray;
    height: 150px;
}