.container{
    height: fit-content;
    display: grid; grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    gap: 10px;
    align-content: space-between;
    background-color: blue;
}
div{
    background-color: orange;
    height: 150px;
}